body {
  width: 1440px;
  height: 1147px;
  margin: 0 auto 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9d9d9;
}

.pagination {
  display: table;
  margin: 0 auto 20px auto;
  padding: 20px 0 0 0;
}

.wrapper {
  width: 1010px;
  height: 100%;
  margin: 0 auto 0 auto;
  background-color: #ffffff;
}

:where(.css-dev-only-do-not-override-2rgkd4).ant-tabs-top > .ant-tabs-nav::before {
  width: 109px;
  margin-left: auto;
  margin-right: auto;
}

.ant-alert {
  margin: 20px;
}

@media (max-width: 1024px) {
  body {
    width: 420px;
  }

  .pagination {
    margin-left: 75px;
  }
}
